page-completed-list {
    .slide-icon {
        width: 3em;
        font-size: 2em;
    }
    .record-content{
        background-color: $light-blue;
    }
    .item-md,
    .item {
        border: none !important;
    }
    .list-md ion-item-options {
        border: none !important;
    }
    h2 {
        overflow: hidden;
        text-overflow: ellipsis !important;
    }
    .fab ion-icon {
        font-size: 3em !important;
    }
    .fab,
    .fab-md {
        box-shadow: 3px 3px 5px $tab-bar-color;
    }
}
