page-completed-list {
    .slide-icon {
        width: 3em;
        font-size: 2em;
    }
    .record-content{
        background-color: $light-blue;
    }
    .item-md,
    .item {
        border: none !important;
    }
    .list-md ion-item-options {
        border: none !important;
    }
}
