<ion-header>
  <ion-navbar>
    <ion-title>Some Things</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let _event of _allevents; let i = index">
    <ion-item-sliding  *ngIf="_event.isComplete != true">
      <button ion-item (click)="goToDetails(i)">
        <!--<ion-avatar item-left>
          <img src="images/delete-purple.png">
        </ion-avatar>-->

        <h1>{{_event.title}}</h1>
        <h5>{{_event.eventDateTime | date: 'MMMM dd, yyyy hh:mm a'}}</h5>
        <ion-icon  *ngIf="_event.isStarred == true" name="md-flower" item-right></ion-icon>
        <span *ngIf="_event.eventDateTime" item-right style="text-align:right;">
          <h1>{{getTimeLeft(_event.eventDateTime).value}}</h1>
          <h5 *ngIf="_event.eventDateTime">{{getTimeLeft(_event.eventDateTime).unit}}</h5>
        </span>
      </button>
      <ion-item-options side="left">
        <button ion-button (click)="editEvent(i)" color="secondary">
          <ion-icon name="edit"></ion-icon>
          Edit
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button (click)="completeEvent(i)" color="primary">
          <ion-icon name="complete"></ion-icon>
          Complete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
