page-home {

    .list-content{
        @include star-bg;
    }

    button {
        height: 100% !important;
    }
    .item-md,
    .item {
        border-bottom: none !important;
    }
    .list-md ion-item-options {
        border-bottom: none !important;
    }
    h2 {
        overflow: hidden;
        text-overflow: ellipsis !important;
    }
}

