<ion-header class="opaque">
  <ion-navbar color="header-color" no-border-bottom>
    <ion-title>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
       What's Next
    </ion-title>
    <ion-buttons right>
      <tutorial-btn></tutorial-btn>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="list-content" >
<!--(ionScroll)="scrollAnimation()" (click)="scrollAnimation()"-->
  <ion-list no-lines>
    <div *ngFor="let _event of _allevents; let i = index">
    <ion-item-sliding  style="direction:ltr" id="event{{i}}" class="single-event" *ngIf="_event.isComplete != true" [ngStyle]="{'background-color': showBgColor(i)}">
      <button ion-item (tap)="goToDetails(i)" (press)="toggleStatus(i)" [ngStyle]="{'background-color': showBgColor(i)}" detail-none no-lines>
        <h2>{{_event.title}}</h2>
        <span *ngIf="_event.isAllDay == true">
          <h5>{{_event.eventDateTime | date: 'MMMM dd, yyyy'}}</h5>
        </span>
        <span *ngIf="_event.isAllDay != true ">
          <h5>
            {{_event.eventDateTime | date: 'MMMM dd, yyyy h:mm a'}}
          </h5>
        </span>
        <h1 item-right>
          <i  *ngIf="_event.isStarred == true" class="fa fa-star" item-right></i>
        </h1>
        <span *ngIf="_event.eventDateTime" item-right class="big-number">
          <h1>
            {{getTimeLeft(_event.eventDateTime).value}}
          </h1>
          <h5 *ngIf="_event.eventDateTime">{{getTimeLeft(_event.eventDateTime).unit}}</h5>
        </span>
      </button>
      <ion-item-options side="right">
        <button ion-button (click)="completeEvent(i)" color="complete-color">
          <i class="fa fa-check slide-icon" aria-hidden="true"></i>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button (click)="editEvent(i)" color="edit-color">
          <i class="fa fa-pencil-square-o slide-icon" aria-hidden="true"></i>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
