page-home {
    .single-event {
        h1,h2,h5 {
            color: white;
        }

        h1 {
            text-shadow:2px 2px 0 black;
        }

        h2 {
            font-size: 1.1em;
            padding-top: 20px;
            font-weight: 700;
        }
        h5 {
            font-size: 0.8em;
        }
    }

    .big-number {

        h1 {
            font-size: 2em;
        }
        h5 {
            text-align: right;
        }
    }

    .slide-icon {
        width: 3em;
        font-size: 2em;
    }
}

