// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "font-awesome";
$font-path: "../assets/fonts";
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

@mixin display-font{
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

@mixin star-bg{
  background:
  linear-gradient(324deg, #2f303d 4%,   transparent 4%) -70px 43px,
  linear-gradient( 36deg, #2f303d 4%,   transparent 4%) 30px 43px,
  linear-gradient( 72deg, #37394f 8.5%, transparent 8.5%) 30px 43px,
  linear-gradient(288deg, #37394f 8.5%, transparent 8.5%) -70px 43px,
  linear-gradient(216deg, #37394f 7.5%, transparent 7.5%) -70px 23px,
  linear-gradient(144deg, #37394f 7.5%, transparent 7.5%) 30px 23px,

  linear-gradient(324deg, #2f303d 4%,   transparent 4%) -20px 93px,
  linear-gradient( 36deg, #2f303d 4%,   transparent 4%) 80px 93px,
  linear-gradient( 72deg, #484A6F 8.5%, transparent 8.5%) 80px 93px,
  linear-gradient(288deg, #484A6F 8.5%, transparent 8.5%) -20px 93px,
  linear-gradient(216deg, #484A6F 7.5%, transparent 7.5%) -20px 73px,
  linear-gradient(144deg, #484A6F 7.5%, transparent 7.5%) 80px 73px;
  background-color: #2f303d;
  background-size: 100px 100px;
}

$light-blue: #dce6ea;
$light-purple: #5b6099;
$tab-bar-color: #343759;
$input-bg-color :#fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  delete-color:   #FB412C,
  undo-color:     #A0BCB9,
  complete-color: #FBCC3D,
  edit-color:     #FF6A5C,
  input-bg-color: #f6f6f6,
  header-color:   #8A79BC,
  primary:        #387ef5,
  secondary:      #32db64,
  danger:         #f53d3d,
  light:          #f4f4f4,
  dark:           #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
