// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-title {
    text-align: center;
    @include display-font;
}

h2 {
    font-family: arial;
}

//---for header---
.opaque {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.opaque .toolbar-background {
    background-color: rgba(66, 66, 66, 0.7);
}

.nav-close-btn{
    background-color: transparent !important;
    font-size: 1.2em;
    color: white;
}

//---for tab bar---
.tabbar{
    background-color: $light-purple !important;
    border-top: 1px solid white;
    min-height: 60px;
}

.tab-button-icon {
    color: white !important;
}

//---for slider---
.toggle-md .toggle-checked,
.toggle .toggle-checked  {
    background-color: $tab-bar-color  !important;
}

.toggle-md .toggle-checked .toggle-inner
.toggle .toggle-checked .toggle-inner {
    background-color: $light-purple  !important;
}

//---for list item---
.slide-icon {
    width: 2em;
    font-size: 2em;
}

.single-event {
    h1,h2,h5 {
        color: white;
    }

    h1 {
        text-shadow:2px 2px 0 black;
    }

    h2 {
        font-size: 1.1em;
        padding-top: 20px;
        font-weight: 700;
    }
    h5 {
        font-size: 0.7em;
    }
}

.big-number {
    width: 23%;
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    h5 {
        text-align: center;
        font-size: 0.8em;
    }
}

// for toast
.toast-wrapper{
    background-color: transparent !important;
    text-align: center;
    margin-left: 10% !important;
}
.toast-message {
    color: black !important;
    background-color: $light-grey;
    border: 2px solid $light-purple;
    border-radius: 10px !important;
}

// tutorial button
.tutorial-button{
    color: #777777;
    font-size: 30px;
    vertical-align: middle;
}

.bar-buttons button {
    margin-right: 20px;
}
