<ion-header>
  <ion-navbar>
    <ion-title *ngIf="event.eventDateTime">
      {{ getTimeLeft(event.eventDateTime).value }}
      {{ getTimeLeft(event.eventDateTime).unit }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item class="card-title">
      <h1>{{ event.title }}</h1>
      <h2>{{ event.eventDateTime | date: 'MMMM dd, yyyy hh:mm a'}}</h2>
    </ion-item>
    <ion-card-content class="event-description">
        <span *ngIf=" event.description != '' ">
          {{event.description}}
        </span>
    </ion-card-content>
    <ion-row>
      <button ion-button item-right (click)="editEvent()">Edit</button>
      <button ion-button (click)="watchEvent()" color="danger">
        <span *ngIf="event.isStarred == true">Unwatch</span>
        <span *ngIf="event.isStarred != true">Watch</span>
      </button>
      <button ion-button color="dark" (click)="deleteEvent()" >Delete
      </button>
    </ion-row>
  </ion-card>
</ion-content>
