<ion-header>
  <ion-navbar>
    <ion-title *ngIf="event.eventDateTime">
      {{ getTimeLeft(event.eventDateTime).value }}
      {{ getTimeLeft(event.eventDateTime).unit }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <!--<img src="img/nin-live.png"/>-->
      <div class="card-title">
        <h1>{{ event.title }}</h1>
      </div>
      <div class="card-subtitle">
        <h2>{{ event.eventDateTime | date: 'MMMM dd, yyyy hh:mm a'}}</h2>
      </div>
      <button ion-button item-right (click)="editEvent()">
        Edit
      </button>

      <button ion-button (click)="watchEvent()" color="danger">
        <span *ngIf="event.isStarred == true">Unwatch</span>
        <span *ngIf="event.isStarred != true">Watch</span>
      </button>
      <button ion-button color="dark" (click)="deleteEvent()" >
        Delete
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
