page-detail {
    #event-description {
        height: 50vh;
        h3 {
            color: grey;
            padding-bottom: 10px;
        }
    }
    .button-row{
        margin-bottom: 20px;
    }

    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

    .toolbar-title,
    .toolbar-title-md{
        color: white;
        button {
            margin-right: 0 !important;
        }
        overflow:visible;
    }
    .content-md,
    .content{
        @include star-bg;
    }
    .card,
    .card-md,
    .item,
    .item-md {
        padding-top: 10px;
        background-color: $light-blue !important;
    }
    .card,
    .card-md{
        border-radius: 20px;
    }
    h1 {
        @include display-font;
    }

    button {
        background-color: transparent !important;
        font-size: 1.6em;
        margin-right: 5px;
    }

}
