page-detail {
    #event-description {
        height: 50vh;
        h3 {
            color: grey;
            padding-bottom: 10px;
        }
    }
    .button-row{
        margin-bottom: 20px;
    }

    .nav-close-btn {
        color: black;
        font-size: 4em !important;
        padding-left: 20px;
    }
    .display-num {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 70px;
        height: 70px;
        text-align: center;
        padding: 10px;
        border-radius: 100%;
        background-color: $light-purple !important;
        z-index: 100;
        h1,h3 {
            color: white !important;
        }
        h1 {
            font-size: 1.3em;
            padding-top: 5px;
        }
        h3 {
            font-size: 0.8em;
        }
    }

    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }

    .toolbar-title,
    .toolbar-title-md{
        color: white;
        button {
            margin-right: 0 !important;
        }
        overflow:visible;
    }
    .content-md,
    .content{
        @include star-bg;
    }
    .card,
    .card-md,
    .item,
    .item-md {
        padding-top: 10px;
        background-color: $light-blue !important;
    }
    .card,
    .card-md{
        border-radius: 20px;
    }
    h1 {
        @include display-font;
    }

    button {
        background-color: transparent !important;
        font-size: 1.6em;
        padding-right: 10px !important;
        padding-left: 0 !important;
    }
    ion-scroll {
        height: 70%;
    }

}
