<ion-header class="opaque">
  <ion-navbar hideBackButton *navbar>

  </ion-navbar>
</ion-header>

<ion-content padding fullscreen>
  <ion-card>
    <div *ngIf="event.eventDateTime">
      <ion-icon name="ios-close" (tap)="goBack()" class="nav-close-btn" item-left></ion-icon>
      <div class="display-num" item-right>
        <h1>{{ getTimeLeft(event.eventDateTime).value}}</h1>
        <h3>{{ getTimeLeft(event.eventDateTime).unit }}</h3>
      </div>
    </div>
    <ion-item class="card-title">
      <h1>{{ event.title }}</h1>
      <h2>{{ event.eventDateTime | date: 'MMMM dd, yyyy hh:mm a'}}</h2>
    </ion-item>
    <ion-card-content>
      <div id="event-description">
        <ion-row class="button-row">
          <button item-right (click)="editEvent()">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button item-right (click)="watchEvent()" color="danger">
            <span *ngIf="event.isStarred == true">
              <i class="fa fa-star" aria-hidden="true"></i>
            </span>
            <span *ngIf="event.isStarred != true">
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
          </button>
          <button item-right color="dark" (click)="deleteEvent()">
            <i class="fa fa-trash"></i>
          </button>
        </ion-row>
        <span *ngIf="event.description">
          <h3>Notes:</h3>
          <ion-scroll scrollY="true" >
            <pre>{{event.description}}</pre>
          </ion-scroll>
        </span>
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
